/* MadCap Table Style: */

/*<meta sourceDocument="C:\Bug Projects\134645\TestFile for bug.xlsx" Version="9" />*/

mcTableStyle
{
	name: Revenue;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
	max-id: 1;
}

mcTableColumnStyle
{
	name: Column1;
	id: 1;
}

mcTableHeadStyle
{
	name: Header1;
	id: 1;
	background-color: #FFFFFF;
	span: 1;
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: bold;
}

mcTableBodyStyle
{
	name: Body1;
	id: 1;
	span: 1;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #6BC7B3;
}

mcTableBodyStyle
{
	name: Body2;
	id: 2;
	span: 1;
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #6BC7B3;
}

mcTableFootStyle
{
	name: Footer1;
	id: 1;
	background-color: #FFFFFF;
	span: 1;
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-Revenue
{
	border-spacing: 0px 0px;
}

.TableStyle-Revenue-Column-Column1
{
	
}

.TableStyle-Revenue-Head-Header1
{
	
}

.TableStyle-Revenue-HeadI-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadI-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadE-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadE-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadF-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadF-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadH-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadH-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadD-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadD-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadC-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadC-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadB-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadB-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadA-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadA-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-HeadG-Column1-Header1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-HeadG-Column1-Header1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-Foot-Footer1
{
	
}

.TableStyle-Revenue-FootI-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootI-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootE-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootE-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootF-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootF-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootH-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootH-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootD-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootD-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootC-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootC-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootB-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootB-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootA-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootA-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-FootG-Column1-Footer1
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-Revenue-FootG-Column1-Footer1 p
{
	color: #38321C;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Revenue-Body-Body1
{
	
}

.TableStyle-Revenue-BodyI-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyE-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyF-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyH-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyD-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyC-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyB-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyA-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyG-Column1-Body1
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-Body-Body2
{
	
}

.TableStyle-Revenue-BodyI-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyI-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyE-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyE-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyF-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyF-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyH-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyH-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyD-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	border-bottom-width: 2px;
	border-bottom-color: #6BC7B3;
	border-bottom-style: solid;
}

.TableStyle-Revenue-BodyD-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyC-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyC-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyB-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyB-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyA-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyA-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyG-Column1-Body2
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Revenue-BodyG-Column1-Body2 p
{
	color: #000000;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}


